


<ion-header>

  <ion-navbar>
    <ion-title>Welcome to Home Care!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="trans">

  
<div class="card">

    <p class="pad" style=" color: black;">Please tell us your location...</p>

    <ion-auto-complete  [dataProvider]="completeTestService" [options]="{ placeholder : 'Enter Location' }" #input #searchbar><ion-icon ios="ios-person" md="md-person"></ion-icon> </ion-auto-complete>

    <br/>
    <br/>
    <p class="pad"><button ion-button color="green1" (tap)="go()">Proceed </button> </p>


</div>

</ion-content>