page-book-med {


     .pad{

        // padding-right: 1000px;
        // padding-left: 70px;
         text-align:center;

    }


.background{


    // background-image: url("../assets/icon/back.png"); 
     background-color: #ece7e7;
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }

     .tab{
        margin-top: -15%;
         text-align:center;

    }

 ion-item {
  // -moz-border-radius: 15px;
//  border-radius: 100px;
    border:solid 2px black;
    padding:5px;
    padding-left: 40px;
    padding-top: 20px;
    width: 300px;
    height: 40px;
    // height: 100px !important;
// background-color: transparent !important;
// background: transparent !important;

     
}

.height{

     height: 100px !important; 


}

// .datetimeColor{
// 	color: rgb(136,168,39) !important;
// }
// ion-datetime{
// 	color: rgb(136,168,39) !important;
// }



 ion-card.card {
        box-shadow: none;
        background:none;
        border-radius: 5px;
         padding-left: 10px;
    }

     ion-icon.green{

        color: #789527;

    }

}
