
<ion-content class="ash">
  <ion-navbar>
    <ion-title  class="up1">Patient Profile</ion-title>
   
  </ion-navbar>

<div class="img-circular"></div>
<p class="down1">{{ data2.other_names}} {{ data2.surname}}</p>
<p class="down2">{{ data2.mobile_number}}</p>

 <ion-row class="row" >
  <ion-col col-6> <p>Date Of birth: {{ data2.dob}}</p> </ion-col>
   <ion-col col-6 ><p>PHM: {{phm | removehtmltags}} </p> </ion-col>
    <ion-col  class="up"> <p>Location: {{location}}</p> </ion-col>
   <ion-col  class="alt"> <p>Medications:</p> </ion-col>
   
</ion-row>



  <form class="padd">
    <ion-row>
    <ion-col col-9><ion-item class="item1">Previous Encounters </ion-item></ion-col>
   <ion-col col-3 ><ion-item class="item3" >Date </ion-item> </ion-col>
   </ion-row>
  
    <!--<ion-card-content>-->
  <!--<ion-grid>-->
    <ion-item *ngIf="records?.length == 0">
      <ion-row  >
        <ion-col col-12 >
         <ion-item *ngFor="let item of records; let i = index">
       <p class="color" >No records </p>
        </ion-item>   
        </ion-col>
      </ion-row>
    </ion-item>  
    <!--</ion-grid>-->

    <ion-grid>
      <ion-item *ngIf="records?.length > 0">
      <ion-row  *ngFor="let item of records; let i = index">
      
        <ion-col col-9 >
          <p class="padding" (tap)="open(item)">Record {{i+1}}  </p>
        </ion-col>
          <ion-col col-3 >
          <p class="a_padding" (tap)="open(item)"> {{item.created_at}} </p>
        </ion-col>
        
      </ion-row> 
      </ion-item> 
    </ion-grid>
  <!--</ion-card-content>-->
   
  </form>
 
 
  <!--<ion-toggle disabled checked="false"></ion-toggle>-->

  <!--<p> <button ion-button color="green1" (tap)="create()">Create new record</button>
  <button ion-button color="green1" >Place Order</button></p>-->
  <br>
    <br>
    <br> 
    <!--<br>-->
    <!--<br>
    <br> -->
   

</ion-content>

 <ion-footer>
   <ion-row >
    <ion-col col-6 >
       <button ion-button color="green1" class="left" (tap)="create()">Create new record</button>
      </ion-col  >
      <ion-col col-6 >
      <button ion-button color="green1" class="right" >Place Order</button>
        </ion-col >
     </ion-row>
     </ion-footer>

