
<ion-content  class="background" >

<form [formGroup]="loginForm" class ="padd" >
        
        <ion-item>
            <ion-label floating>
                <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Username</ion-label>
            <ion-input type="text" formControlName="username" name="username" [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating><ion-icon name="ios-unlock">&nbsp;</ion-icon>Password</ion-label>
            <ion-input type="password" formControlName="password" name="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
        </ion-item>
        
        <br/>
        <p class="pad"><b style=" color: black;"> <a href="" (tap)="reset()" style=" color: black;">Forgot Password?</a>  </b> </p>
        <br/>
        
      
        <p class="pad"> <button ion-button round color="green1" [disabled]="!this.loginForm.valid" (tap)="login()">  Login </button>
        </p>
        <br>
       
        
      

         <p class="pad"><b style=" color: black;"><p style=" color: black;">Don't have an account ?  <a href="" (tap)="signup()" style=" color: black;">Sign Up</a></p> </b> </p>
    </form>
  
</ion-content>

 <!--<ion-footer>
      <p class="pad"><b style=" color: black;"><p style=" color: black;">Don't have an account ?  <a href="" (tap)="signup()" style=" color: black;">Sign Up</a></p> </b> </p>
 </ion-footer> -->