<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <!--<div class="modal_content">-->
  <ion-scroll class="modal_content" scrollY="true">
    <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <br/>
    <br/>
    <br/>

    <ion-card-content>
      <ion-card>
        <ion-item class="position">
          <p class="position" style=" color: black;">Welcome to <br/> personal doctor service </p>
        </ion-item>

        <ion-auto-complete [dataProvider]="completeTestService" [options]="{ placeholder : 'Enter Your Location' }" #input #searchbar>
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-auto-complete>
      
       <ion-item class="height" [(ngModel)]="prev_medical_history">
          <ion-textarea placeholder="Provide previous medical history..." lineHeight="22"  name="prev_medical_history"  ></ion-textarea>
             <ion-label> <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon></ion-label>
        </ion-item>
        <br/>
        <br/>
        <br/>
        <h4 class="position">Do you have a personal doctor?</h4>


        <ion-row radio-group [(ngModel)]="yesorno">
          <ion-col col-6>
            <ion-item>
              <ion-label class="lab1">Yes</ion-label>
              <ion-radio value="Y"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item class="option3">
              <ion-label>No</ion-label>
              <ion-radio value="N"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <br/>
        <ion-item *ngIf="yesorno == 'Y'">
          <ion-item [(ngModel)]="doc_name">
            <ion-textarea placeholder="Enter Doctor Name"></ion-textarea>
          </ion-item>
        </ion-item>
        <br/>

        <ion-item class='greener' (tap)="submit()" >
          <p class="position" style=" color: white;" >SUBMIT</p>
        </ion-item>
      </ion-card>

    </ion-card-content>
    <!--</div>-->
  </ion-scroll>
</ion-content>