<ion-header>

  <ion-navbar>
    <ion-title>Book Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">
  <p><b style=" color: #789527;">Book A Lab Appointment </b> </p>
<!--<ion-item>-->
  <!--<tag-input
    [(ngModel)]="topics"
    [addOnBlur]="false"
    [autocomplete]="true"
    [autocompleteItems]="new_list"
    placeholder="Search for lab tests">
  </tag-input>-->
  <!--</ion-item>-->
  <br/>
  <form [formGroup]="appointForm">

    <br/>
    <ion-list>

      <!--<ion-item>

        <ion-label> Lab Services</ion-label>
        <ion-select multiple="true" formControlName="lab_services" name="lab_services" [class.invalid]="!appointForm.controls.lab_services.valid && (appointForm.controls.lab_services.dirty || submitAttempt)"
          (ionChange)="options()">
          <ion-option *ngFor="let lab of check" formControlName="lab_services" name="lab_services" value="{{ lab.title}}" ngDefaultControl>{{ lab.title}}&nbsp;&nbsp;GHC{{ lab.price}}</ion-option>

        </ion-select>

      </ion-item>-->

      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Self/Beneficiary</ion-label>
        <ion-select formControlName="requester_cat" name="requester_cat" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
          <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

        </ion-select>
      </ion-item>

      <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!appointForm.controls.beneficiary_name.valid && (appointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency</ion-label>
        <ion-select formControlName="req_urgency" name="req_urgency" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>
          <ion-option formControlName="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>

        </ion-select>
      </ion-item>


      <ion-item [hidden]="!value">

        <ion-label> Appointment type</ion-label>
        <ion-select formControlName="appointment_type_id" name="appointment_type_id" [class.invalid]="!appointForm.controls.appointment_type_id.valid && (appointForm.controls.appointment_type_id.dirty || submitAttempt)">

          <ion-option name="appointment_type_id" value="LA" selected>LA</ion-option>

        </ion-select>
      </ion-item>



      <ion-item class="height"> 
        <ion-textarea placeholder="List Lab tests you want to undertake..." lineHeight="22" formControlName="test_list" name="test_list"
          [class.invalid]="!appointForm.controls.test_list.valid && (appointForm.controls.test_list.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>
       <p class="center"><b style=" color: #789527;"> OR  </b></p>
        <p class="center" [hidden]="lastImage !== null" style=" color: black;">Please upload your lab test sheet!</p>
       <ion-buttons>
        <button ion-button icon-left color="green1" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
        <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
      </ion-buttons>
      <br>
       <img src="{{pathForImage(lastImage)}}" style="width: 50%" [hidden]="lastImage === null">
      <br>
      <ion-item class="height" >
        <ion-textarea placeholder="Please list your previous medical problems..." lineHeight="22" formControlName="prev_medical_history" name="prev_medical_history"
          [class.invalid]="!appointForm.controls.prev_medical_history.valid && (appointForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon>
        </ion-label>
      </ion-item>

        <ion-item class="height">
          <ion-textarea placeholder="Please list your allergies..." lineHeight="22" formControlName="allergies" name="allergies" [class.invalid]="!appointForm.controls.allergies.valid && (appointForm.controls.allergies.dirty || submitAttempt)"></ion-textarea>
         <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon> </ion-label>
        </ion-item>


      <ion-item>
        <ion-textarea placeholder="Appointment Date" lineHeight="22" formControlName="proposed_date" name="proposed_date" [class.invalid]="!appointForm.controls.proposed_date.valid && (appointForm.controls.proposed_date.dirty || submitAttempt)"></ion-textarea>
        <ion-datetime displayFormat="MMM DD YYYY " min="2018" max="2019" formControlName="proposed_date"></ion-datetime>
        <ion-label>
          <ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-textarea placeholder="Appointment Time" lineHeight="22" formControlName="proposed_time" name="proposed_time" [class.invalid]="!appointForm.controls.proposed_time.valid && (appointForm.controls.proposed_time.dirty || submitAttempt)"></ion-textarea>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="proposed_time"></ion-datetime>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time"></ion-icon>
        </ion-label>
      </ion-item>


      <!--<img src="{{pathForImage(lastImage)}}" style="width: 80%" [hidden]="lastImage === null">-->
      <!--<p class="center" [hidden]="lastImage !== null" style=" color: black;">Please Select Your Lab Image!</p>-->

      

      <p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="book_appoint()"> Submit </button></p>

    </ion-list>





  </form>

</ion-content>