page-vid-consult {




.background{


    background-image: url("../assets/icon/back.png"); 
   
    height: 100%;

   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }

        .option1 {

    padding-right: 5%;
    }

   

        .option3 {


    padding-right: 40%;
    }

    .lab1{

      padding-left: 40%;
    }





   

.back_color{

  
    background-color: #92d36e; 
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align:center;

    }


ion-modal {
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50%;
        height: 50%;
    }
}



     .pad{

         text-align:center;

    }

.trans{
// background-color: #ece7e7;
background-color: #1e1e1e;

}

.greener{
background-color: #789527; 

}

ion-auto-complete {
  width: 80vw;

   
}


.position{

     text-align:center;
}



 .main-view{
    background: transparent;
  }


  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
     opacity: .8;
   
    // background-color: #333;
    // background-color: #1a1515;
    background-color: #000000;
  }
  .modal_content {
    position: absolute;
    // top: calc(50% - (50%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: transparent;
    // background: #e8e8e8;
    // background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    // background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    padding-top: 20%;
  }






//   @media (min-width: 320px) and (max-width: 600px) {


// }



// @media (min-height: 320px) and (max-height: 600px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
   
  
// }


// @media  (max-height: 640px) {

//     .position{

//      text-align:center;
//     //  right: 40%;
// }
  
// }

// @media  (min-height: 360px) and (orientation : portrait) {

  
  
// }

// @media  (min-height: 320px) and (orientation : portrait) {

  
  
// }

// @media  (min-height: 480px) and (orientation : portrait) {

  
  
// }

// @media  (min-height: 540px) {

//     .position{

//      text-align:center;
//     //  right: 40%;
// }
  
// }

// @media  (min-height: 540px) and (min-width: 320px) {

  
  
// }


// @media  (max-height: 779px) and (min-width: 203px) {
//   .position{

//      text-align:center;
//     //  right: 40%;
// }
  
  
// }

// @media  (max-height: 1050px) and (min-width: 203px) {

  
  
// }

// @media  (max-height: 831px) and (min-width: 203px) {

  
// }




// @media  (max-height: 752px) and (min-width: 203px) {

//     .position{

//      text-align:center;
//     //  right: 40%;
// }
  
// }

// @media  (max-height: 600px)  {

//   .position{

//      text-align:center;
//     //  right: 40%;
// }
// }





// @media  (min-height: 480px) and (max-height: 540px) and (orientation : portrait) {

  
// }

// @media  (max-height: 768px) and (max-width: 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)  {


  
  
// }



// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
 
// }

// @media (min-width: 1025px) and (max-width: 1280px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  
  
// }






// @media (min-width: 768px) and (max-width: 1024px) {
  
 
// }

// @media (min-height: 768px) and (max-height: 1024px) {
  
  
  
// }

}
