
<ion-header>

  <ion-navbar>
    <ion-title>Home Care Appointments</ion-title>
  </ion-navbar>
 
</ion-header>



<ion-content >
   <p class="center"><b   style=" color: black;">Home Care Appointments Made.. </b> </p>

<ion-item  *ngIf="check?.length == 0">
   
    <p class="center"><b style=" color: black;">No Home Care Appointment </b> </p>


  </ion-item>

  <ion-item  *ngIf="check?.length > 0"  > 
  <ion-list *ngFor="let data of check">
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/icon/doc.png">
    </ion-thumbnail>
    <h2><b >{{ location.other_names}} {{ location.surname}}</b></h2>
    <p>{{ location.mobile_number}}</p>
    <button ion-button clear item-end (tap)="view(data)">View</button>
  </ion-item>
   
</ion-list>
 </ion-item>

</ion-content>
