
<!--<ion-header>
  <ion-navbar>
    <ion-title>Prescription</ion-title>
  </ion-navbar>
</ion-header>
<ion-content overflow-scroll='true' class="background">
  <p><b style=" color: black;">Enter Details </b> </p>


 <br/>
    <ion-list>
     
      <ion-item class="height">
        <ion-textarea placeholder="List medication(s) you require..." lineHeight="22"  name="complaint_desc" [(ngModel)]="medication"></ion-textarea>
       <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon></ion-label>
      </ion-item>


      <ion-item class="height">
        <ion-label  floating> <ion-icon  class="green" ios="ios-time" md="md-time"></ion-icon>  Select number of day(s) for medication </ion-label>
    <ion-input type="number"   name="medication" [(ngModel)]="med_duration"></ion-input>
  
  </ion-item>



      <p class="pad"> <button ion-button color="green1"  (tap)="submit()"> Submit </button></p>

    </ion-list>-->

<!--</ion-content>-->









<ion-content class="main-view">
  
  <div class="overlay" (click)="closeModal()"></div>
   <ion-scroll class="modal_content" scrollY="true">
  <!--<div class="modal_content">-->
     <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <br/>
  <br/>
  <br/>

  <ion-card-content>
    <ion-card>
      <ion-item >
        <p class="position" style=" color: black;">Prescription </p>
          
      </ion-item>
      <br/>
      <br/>


       <!--<form >-->
  <ion-list>
     
      <ion-item class="height">
        <ion-textarea placeholder="List medication(s) you require..." lineHeight="22"  name="complaint_desc" [(ngModel)]="medication"></ion-textarea>
       <ion-label> <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon></ion-label>
      </ion-item>


      <ion-item class="height">
        <ion-label  floating> <ion-icon  class="green" ios="ios-time" md="md-time"></ion-icon>  Duration for medication </ion-label>
    <ion-input type="number"   name="medication" [(ngModel)]="med_duration"></ion-input>
  
  </ion-item>
      

    </ion-list>
   <br>
  <!--</form>-->

      <ion-item class='greener' (tap)="submit()">
        <p class="position" style=" color: white;" >SUBMIT</p>
      </ion-item>
    </ion-card>

  </ion-card-content>
  <!--</div>-->
  </ion-scroll>
</ion-content>



