

<ion-content class="main-view">
  
  <div class="overlay" (click)="closeModal()"></div>
   <ion-scroll class="modal_content" scrollY="true">
  <!--<div class="modal_content">-->
     <ion-buttons end>
      <button ion-button icon-only (tap)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <br/>
  <br/>
  <br/>

  <ion-card-content>
    <ion-card>
      <ion-item >
        <p class="position" style=" color: black;">Refer a patient to Ghinger </p>
          
      </ion-item>
    
 <!--<form [formGroup]="referForm">-->
 <ion-list>

    <ion-item >
      <!--[class.invalid]="!referForm.controls.prev_medical_history.valid && (referForm.controls.prev_medical_history.dirty || submitAttempt)"-->
          <ion-textarea placeholder="Name of patient" lineHeight="22"  name="proposed_date"  ></ion-textarea>
         <ion-label><ion-icon class="green" ios="ios-person" md="md-person"></ion-icon> </ion-label>
     </ion-item>
       
   <ion-item >
          <ion-textarea placeholder="Date of birth" lineHeight="22"  name="proposed_date" ></ion-textarea>
          <ion-datetime class="datetimeColor" displayFormat="MMM DD YYYY " [(ngModel)]="app_date"></ion-datetime>
         <ion-label><ion-icon class="green" ios="ios-calendar" md="md-calendar"></ion-icon> </ion-label>
    </ion-item>
        
    <ion-item >
          <ion-textarea placeholder="Mobile number" lineHeight="22"  name="proposed_time" ></ion-textarea>
          
         <ion-label><ion-icon class="green" ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon></ion-label>
     </ion-item>  
      
      </ion-list>
   
    <!--</form>-->
<!--[disabled]="!this.referForm.valid"-->
      <ion-item class='greener'  (tap)="submit()">
        <p class="position" style=" color: white;" >SUBMIT</p>
      </ion-item>
    </ion-card>

  </ion-card-content>
  </ion-scroll>
</ion-content>

