
@import "../../node_modules/ionic2-auto-complete/auto-complete";

// @font-face {
//     font-family: 'Myriad Pro Regular';
//     font-style: normal;
//     font-weight: 300;
//     src: local('Myriad Pro Regular'), local('Myriad Pro Regular-Regular'), url("../assets/fonts/Myriad Pro Regular-Regular.ttf") format('woff2');
// }

@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff'),url('../assets/fonts/roboto-light');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Humanst';
}


modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-wrapper .modal { display:block; }

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}