<!--<ion-nav [root]="rootPage"></ion-nav>-->
<!--<ion-menu [content]="content" type="reveal" persistent="true">-->
  <ion-menu [content]="content" >
  <!--<ion-menu id="menu" [content]="content" class="main-menu">-->
  <ion-header>
    <ion-toolbar>
      <ion-card-header class="pad">
        <img src="assets/icon/logo.png" height="60px" width="200px" />
      </ion-card-header>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item class="back">
        <!--<ion-card-header class="pad">
    <img src="assets/icon/logo.png" height="60px" width="200px" />
  </ion-card-header>-->
        <h4 class="pad" style=" color: white;">John Doe</h4>
        <h4 class="pad" style=" color: white;">+233276113371</h4>
        <!--<h4 class="pad" style=" color: white;">Accra</h4>-->
      </ion-item>


    </ion-list>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
         <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <!--<ion-list>
        <h4 class="pad">Extras</h4>
      <button menuClose ion-item *ngFor="let p of pages2" (click)="openPage(p)">
         <ion-icon item-left [name]="p.icon"></ion-icon>

        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
        <h4 class="pad">Others</h4>
      <button menuClose ion-item *ngFor="let p of pages3" (click)="openPage(p)">
         <ion-icon item-left [name]="p.icon"></ion-icon>

        {{p.title}}
      </button>
    </ion-list>-->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>
<!--<ion-nav [root]="rootPage" #content (swiperight)="checkMenu()">-->