<ion-header>

  <ion-navbar>
    <ion-title>Additional Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <p class="center" ><b   style=" color: black;">Please Provide these additional info to proceed.. </b> </p>
  <br/>
  <!--<form  class="padd">-->
     
    <ion-auto-complete  [dataProvider]="completeTestService" [options]="{ placeholder : 'Enter Your Location' }" #input #searchbar>
          <ion-icon ios="ios-person" md="md-person"></ion-icon>
        </ion-auto-complete>  
     
        <br/>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Which hospital do you work at? </ion-label>
      <ion-input type="text"  [(ngModel)]="hospital_name" name="hospital_name"  ></ion-input>
    </ion-item>

     <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please Provide your registration number</ion-label>
      <ion-input type="text"  [(ngModel)]="registration_number" name="registration_number"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please Provide your registration board</ion-label>
      <ion-input type="text"  [(ngModel)]="registration_board" name="registration_board"  ></ion-input>
    </ion-item>

<br/>
    <ion-item>
      <ion-label>
        <ion-icon ios="ios-planet" md="md-planet"></ion-icon> Are you a specialist?</ion-label>
      <ion-select  [(ngModel)]="specialty" name="specialty"  >
        <ion-option  name="specialty" value="Yes" ngDefaultControl>Yes</ion-option>
        <ion-option  name="specialty" value="No" ngDefaultControl>No</ion-option>
       
      </ion-select>
    </ion-item>
     <br/>
        <ion-item *ngIf="specialty == 'Yes'">
          <ion-item [(ngModel)]="specialty_name">
            <ion-textarea placeholder="Please provide your specialty"></ion-textarea>
          </ion-item>
        </ion-item>
        <br/>
<!--
     <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person">&nbsp;</ion-icon>Please enter your specialty</ion-label>
      <ion-input type="text"  name="surname" ></ion-input>
    </ion-item>-->


   

    <p class="pad"> <button ion-button color="green1"   (tap)="signup()"> Submit  </button>
      <br/>
      <br/>
    </p>
    
    

<!--
  </form>-->

</ion-content>