<ion-header>

  <ion-navbar>
    <ion-title>Request for Medication</ion-title>
  </ion-navbar>

</ion-header>


<ion-content overflow-scroll='true' class="background">
  <p><b style=" color: #789527;">Medication Request </b> </p>
  <!--<ion-auto-complete [dataProvider]="completeTestService" [options]="{ placeholder : 'Search for your tests here' }" #input
    #searchbar>
    <ion-icon ios="ios-person" md="md-person"></ion-icon>
  </ion-auto-complete>
  <br/>-->
 
  <form [formGroup]="appointForm">

    <br/>
    <ion-list>


      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-person-add" md="md-person-add">&nbsp;</ion-icon>&nbsp;Self/Beneficiary</ion-label>
        <ion-select formControlName="requester_cat" name="requester_cat" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="requester_cat" name="requester_cat" value="S" ngDefaultControl>Self</ion-option>
          <ion-option formControlName="requester_cat" name="requester_cat" value="T" ngDefaultControl>Beneficiary</ion-option>

        </ion-select>
      </ion-item>


      <ion-item *ngIf="appointForm.controls.requester_cat.value =='T' ">
        <ion-item>
          <ion-textarea placeholder="Enter Beneficiary Name" formControlName="beneficiary_name" name="beneficiary_name" [class.invalid]="!appointForm.controls.beneficiary_name.valid && (appointForm.controls.beneficiary_name.dirty || submitAttempt)"></ion-textarea>
        </ion-item>
      </ion-item>


      <ion-item>
        <ion-label>
          <ion-icon class="green" ios="ios-time" md="md-time">&nbsp;</ion-icon>&nbsp; Request Urgency</ion-label>
        <ion-select formControlName="req_urgency" name="req_urgency" [class.invalid]="!appointForm.controls.requester_cat.valid && (appointForm.controls.requester_cat.dirty || submitAttempt)">
          <ion-option formControlName="req_urgency" name="req_urgency" value="S" ngDefaultControl>Standard</ion-option>
          <ion-option formControlName="req_urgency" name="req_urgency" value="E" ngDefaultControl>Express</ion-option>

        </ion-select>
      </ion-item>


      <ion-item [hidden]="!value">

        <ion-label> Appointment type</ion-label>
        <ion-select formControlName="appointment_type_id" name="appointment_type_id" [class.invalid]="!appointForm.controls.appointment_type_id.valid && (appointForm.controls.appointment_type_id.dirty || submitAttempt)">

          <ion-option name="appointment_type_id" value="MD" selected>MD</ion-option>

        </ion-select>
      </ion-item>



      <ion-item class="height">
        <ion-textarea placeholder="List medication you require..." lineHeight="22" formControlName="medication" name="medication"
          [class.invalid]="!appointForm.controls.medication.valid && (appointForm.controls.medication.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>

      <ion-item class="height">
        <ion-textarea placeholder="Let us know your allergies....." lineHeight="22" formControlName="allergies" name="allergies"
          [class.invalid]="!appointForm.controls.allergies.valid && (appointForm.controls.allergies.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-create" md="md-create"></ion-icon>
        </ion-label>
      </ion-item>
      
      <ion-item class="height">
        <ion-textarea placeholder="Please provide your medical history..." lineHeight="22" formControlName="prev_medical_history" name="prev_medical_history"
          [class.invalid]="!appointForm.controls.prev_medical_history.valid && (appointForm.controls.prev_medical_history.dirty || submitAttempt)"></ion-textarea>
        <ion-label>
          <ion-icon class="green" ios="ios-paper" md="md-paper"></ion-icon>
        </ion-label>
      </ion-item>


      <p class="pad"> <button ion-button color="green1" [disabled]="!this.appointForm.valid" (tap)="book_appoint()"> Submit </button></p>

    </ion-list>





  </form>

</ion-content>