<ion-header>
  <ion-navbar>
    <button ion-button menuToggle (click)="openMenu()">
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-card-header class="pad">
      <img src="assets/icon/logo.png" height="60px" width="200px" />  <img src="assets/icon/refresh.png"  class="right" (tap)="refresh()"/>
    </ion-card-header>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-item class="pad1"> <b  style=" color: #789527;">Services</b>  </ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col col-6 >
          <!--<ion-card>-->
           <img src="assets/icon/med_app.png" height="100px" width="100px"  (tap)="medical()" /> 
          
          <figcaption><b style=" color: black;">Medical Appointment</b></figcaption>
           <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
           <img src="assets/icon/presc.png" height="100px" width="100px" (tap)="medication()" />
          <figcaption><b style=" color: black;">Medication</b></figcaption>
        <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/lab.png" height="100px" width="100px" (tap)="lab_history()" />
          <figcaption><b style=" color: black;">Lab Request</b></figcaption>
      <!--</ion-card>-->
        </ion-col>
        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/per_doc.png" height="100px" width="100px" (tap)="doc_history()" />
          <figcaption><b style=" color: black;">Personal Doctor</b></figcaption>
      <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
        <img src="assets/icon/vid.png" height="100px" width="100px" (tap)="video()" />
          <figcaption><b style=" color: black;">Video Consultation</b></figcaption>
        <!--</ion-card>-->
        </ion-col>

        <ion-col col-6>
          <!--<ion-card>-->
          <img src="assets/icon/home.png" height="100px" width="100px" (tap)="home()" />
          <figcaption><b style=" color: black;">Home Care</b></figcaption>
      <!--</ion-card>-->
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-card-content>


</ion-content>