<!--
  Generated template for the PhoneConsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Phone Consult Appointments</ion-title>
  </ion-navbar>

</ion-header>



<ion-content >
   <p class="center"><b   style=" color: black;">Phone Consultation Appointments Made.. </b> </p>

<ion-item  *ngIf="check?.length == 0">
   
    <p class="center"><b style=" color: black;">No Phone Consult Appoiintment </b> </p>


  </ion-item>

  <ion-item  *ngIf="check?.length > 0"  > 
  <ion-list *ngFor="let data of check">
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/icon/doc.png">
    </ion-thumbnail>
    <h2><b >{{ data.other_names}} {{ data.surname}}</b></h2>
    <p>{{ data.mobile_number}}</p>
    <button ion-button clear item-end (tap)="view(data)">View</button>
  </ion-item>
   
</ion-list>
 </ion-item>

</ion-content>
